<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="prd?.ImgURL" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Product Name:{{prd.id}} - {{prd?.Name}}</h5>
        <div class="card-text">
            <h6>Product Price: {{prd?.Price}}</h6>
            <h6>Available Quantity: {{prd?.Quantity}}</h6>
        </div>
        <hr>
        <button [disabled]="prd.id==1" type="button" class="btn btn-primary m-3" (click)="prevProduct()">Previous</button>
        <button type="button" class="btn btn-primary m-3" (click)="nextProduct()">Next</button>
        <hr>
        <button type="button" class="btn btn-primary m-3" (click)="goBack()">Go back</button>
    </div>
</div>