<h1>Hello World</h1>
<h3>Store Name: {{storeData?.name}}</h3>
<!-- <img src="{{storeData.logo}}" alt="logo"> -->
<!-- <img *ngIf="showLogo" [src]="storeData.logo" alt="logo"> -->
<img [hidden]="!showLogo" [src]="storeData.logo" alt="logo">
<h3>Our services:</h3>
<ul>
    <li *ngFor="let item of storeData.services">
        {{item}}
    </li>
</ul>
<br>
<!-- <button [class.highlighted]="showLogo" class="btn btn-primary" (click)="toggleImg()">Show / hide</button> -->
<button [style.background-color]="showLogo?'yellow':'blue'" class="btn btn-primary" (click)="toggleImg()">Show / hide</button>

<hr>

<div class="mb-3">
    <label for="" class="form-label">Enter your Feedback:</label>
    <input type="text" [(ngModel)]="clientFeedback" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
</div>
<div>
    Your Entered: {{clientFeedback}}
</div>